@using Thinktecture.IdentityServer.Protocols
@using Thinktecture.IdentityServer.Web.Utility
@model Thinktecture.IdentityServer.Web.Areas.Account.ViewModels.MenuViewModel

<ul class="side-nav">
	@*<li>@Html.ActionLink("General", "Index", "General")</li>*@
	<li><a href="@Html.RelyingParty("/profile")">Edit Profile</a></li>

	@if (!BrockAllen.MembershipReboot.SecuritySettings.Instance.EmailIsUsername)
 {
		<li>@Html.ActionLink("Change Username", "Index", "ChangeUsername")</li>
 }
	<li>@Html.ActionLink("Change E-Mail", "Index", "ChangeEmail")</li>
	<li>@Html.ActionLink("Change Password", "Index", "ChangePassword")</li>
	<li>@Html.ActionLink("Close Account", "Index", "CloseAccount")</li>
</ul>

