@model Thinktecture.IdentityServer.Web.Areas.Account.ViewModels.ChangeEmailRequestInputModel
@{
	ViewBag.Title = "Change Email";
}

@using (Html.BeginForm())
{
	@Html.ValidationSummary("Error")
	@Html.AntiForgeryToken()

	<fieldset class="editor small">
		<legend>@ViewBag.Title</legend>

		<div>
			@Html.LabelFor(m => m.NewEmail)
			@Html.EditorFor(m => m.NewEmail)
			@Html.ValidationMessageFor(m => m.NewEmail)
		</div>

		<div class="buttons">
			<button>Change Email</button>
		</div>
	</fieldset>
}

@section scripts
{
	<script type="text/javascript">
		$(function () {
			$("#NewEmail").focus();
		});
	</script>
}