@model Thinktecture.IdentityServer.Web.Areas.Account.ViewModels.ChangeEmailRequestInputModel
@{
	ViewBag.Title = "Change Email";
}

@using (Html.BeginForm())
{
	@Html.ValidationSummary(true, "Please correct the following errors")
	@Html.AntiForgeryToken()



		<div>
			@Html.LabelFor(m => m.NewEmail)
			@Html.EditorFor(m => m.NewEmail)
			@Html.ValidationMessageFor(m => m.NewEmail)
		</div>

		<div class="buttons">
			<button>Change Email</button>
		</div>
}

@section scripts
{
	<script type="text/javascript">
		$(function () {
			$("#NewEmail").focus();
		});
	</script>
}