@using Thinktecture.IdentityServer.Web.App_LocalResources.Shared
<div class="menu">
	@if (ViewBag.IsAdministrator)
	{
		@Html.ActionLink(_Menu_cshtml.Administration, "Index", "Home", new { area = "Admin" }, null)
		@: &nbsp;
    }

	@if (ViewBag.IsSignedIn)
	{
		@Html.ActionLink(_Menu_cshtml.Home, "Index", "Home", new { area = "" }, null)
		@: &nbsp;
		@Html.ActionLink(_Menu_cshtml.SignOut, "Index", "SignOut", new { area = "" }, null)
		@: &nbsp;
		@Html.ActionLink("[" + Context.User.Identity.Name + "]", "Index", "Home", new { area = "Account" }, null)
	}
	else
	{
		@Html.ActionLink(_Menu_cshtml.Home, "Index", "Home", new { area = "" }, null)
		@: &nbsp;
		@Html.ActionLink(_Menu_cshtml.SignIn, "Index", "SignIn", new { area = "" }, null)
		@: &nbsp;
		@Html.ActionLink("[sign up]", "Index", "SignUp", new { area = "" }, null)
	}
</div>
