@model Thinktecture.IdentityServer.Web.Areas.Account.ViewModels.ChangePasswordInputModel
@{
	ViewBag.Title = "Change Password";
}

@using (Html.BeginForm())
{
	@Html.ValidationSummary(true, "Please correct the following errors")
	@Html.AntiForgeryToken()
	
	
		<div>
			@Html.LabelFor(m => m.OldPassword)
			@Html.EditorFor(m => m.OldPassword)
			@Html.ValidationMessageFor(m => m.OldPassword)
		</div>

		<div>
			@Html.LabelFor(m => m.NewPassword)
			@Html.EditorFor(m => m.NewPassword)
			@Html.ValidationMessageFor(m => m.NewPassword)
		</div>

		<div>
			@Html.LabelFor(m => m.NewPasswordConfirm)
			@Html.EditorFor(m => m.NewPasswordConfirm)
			@Html.ValidationMessageFor(m => m.NewPasswordConfirm)
		</div>

		<div class="buttons">
			<button>Change Password</button>
		</div>
}

@section scripts
{
	<script type="text/javascript">
		$(function () {
			$("#OldPassword").focus();
		});
	</script>
}