@{
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<h3>@ViewBag.Title</h3>
<div class="row">
	<div class="large-3 small-12 columns">
		@Html.Action("Index", "Menu")
	</div>
	<div class="large-9 small-12 columns">
		@if (TempData["Message"] != null)
		      {
			      <div class="message">@TempData["Message"]</div>
		      }
		@RenderBody()
	</div>
</div>

@section styles
{
	<link href="~/Areas/Account/Content/Account.css" rel="stylesheet" />
}
@section scripts
{
	<script>
		var cryptoRandomUrl = '@Url.Action("Random", "Home")';
	</script>
	<script src="~/Areas/Account/Scripts/Account.js"></script>
	@RenderSection("scripts", false)
}