@model Thinktecture.IdentityServer.Web.ViewModels.ChangePasswordFromResetKeyInputModel
@{
	ViewBag.Title = "Change Password";
}

@using (Html.BeginForm())
{
	@Html.ValidationSummary("Please correct the following errors")
	@Html.AntiForgeryToken()
	@Html.HiddenFor(m => m.Key)

	<fieldset class="editor small">
		<legend>@ViewBag.Title</legend>

		<div>
			@Html.LabelFor(m => m.Password)
			@Html.EditorFor(m => m.Password)
			@Html.ValidationMessageFor(m => m.Password)
		</div>

		<div>
			@Html.LabelFor(m => m.ConfirmPassword)
			@Html.EditorFor(m => m.ConfirmPassword)
			@Html.ValidationMessageFor(m => m.ConfirmPassword)
		</div>

		<div class="buttons">
			<button>Change Password</button>
		</div>

	</fieldset>
}