@model Thinktecture.IdentityServer.Web.ViewModels.ChangePasswordFromResetKeyInputModel
@{
	ViewBag.Title = "Change Password";
}
<h3>@ViewBag.Title</h3>
<div class="row">
	<div class="large-5 small-12 columns">
		@using (Html.BeginForm())
  {
			@Html.Partial("ValidationSummary", ViewData.ModelState)
			@Html.AntiForgeryToken()
			@Html.HiddenFor(m => m.Key)

			<div>
				@Html.LabelFor(m => m.Password)
				@Html.EditorFor(m => m.Password)
				@Html.ValidationMessageFor(m => m.Password)
			</div>

			<div>
				@Html.LabelFor(m => m.ConfirmPassword)
				@Html.EditorFor(m => m.ConfirmPassword)
				@Html.ValidationMessageFor(m => m.ConfirmPassword)
			</div>

			<div class="buttons">
				<button>Change Password</button>
			</div>
  }
	</div>
</div>
