@model  Thinktecture.IdentityServer.Web.ViewModels.PasswordResetInputModel
@{
    ViewBag.Title = "Reset Password";
}

@using (Html.BeginForm())
{
    @Html.ValidationSummary("Please correct the following errors")
    @Html.AntiForgeryToken()

    <fieldset class="editor small">
        <legend>@ViewBag.Title</legend>

        <div>
			@Html.LabelFor(m => m.Email)
			@Html.TextBoxFor(m => m.Email)
			@Html.ValidationMessageFor(m => m.Email)
		</div>

        <div class="buttons">
            <button>Submit</button>
        </div>

    </fieldset>
}

@section scripts
{
	<script type="text/javascript">
		$(function () {
			$("#Email").focus();
		});
	</script>
}